<nav class="navbar navbar-default navbar-fixed-top">
  <div class="header container">
    <div class="header-left">
      <button
        (click)="onSelect('articles')"
        class="colored-button animated-button"
        data-toggle="tooltip" data-placement="bottom" title="Home"
      >
        <img src="assets/imgs/home.webp" alt="home" />
      </button>
      <div class="search-field">
        <button data-toggle="tooltip" data-placement="bottom" title="Search">
          <i class="fa fa-search"></i>
        </button>
        <input
          placeholder="search..."
          type="text"
          class="form-control"
          #searchInput
        />
      </div>
    </div>
    <div class="header-right">
      <div class="button-field" *ngIf="!isLoggedIn">
        <button (click)="onSelect('login')" class="bf-button noframe-button">
          <h4>Log in</h4>
        </button>
        <button
          (click)="onSelect('registration')"
          class="bf-button framed-button"
        >
          <h4>Create account</h4>
        </button>
      </div>
      <div class="button-field nav-icons" *ngIf="isLoggedIn">
        <button (click)="onSelect('profile')" class="animated-button" data-toggle="tooltip" data-placement="bottom" title="My profile">
          <img src="assets/imgs/menu_items/myProfile.png" alt="my profile" />
        </button>
        <button (click)="onSelect('users')" class="animated-button" data-toggle="tooltip" data-placement="bottom" title="List of Users">
          <img src="assets/imgs/menu_items/users.png" alt="users" />
        </button>
        <button (click)="onSelect()" class="animated-button" data-toggle="tooltip" data-placement="bottom" title="Favorites">
          <img src="assets/imgs/menu_items/myFavIcon.png" alt="favorites" />
        </button>
        <button (click)="onSelect('create-article')" class="animated-button" data-toggle="tooltip" data-placement="bottom" title="Create article">
          <img
            class="invert"
            src="assets/imgs/menu_items/addArticle.png"
            alt="add article"
          />
        </button>
        <button (click)="onLogout()" class="animated-button" data-toggle="tooltip" data-placement="bottom" title="Log out">
          <img src="assets/imgs/menu_items/logOut.png" alt="log out" />
        </button>
        <!-- <p class="user-info">{{ userData.email }}</p> -->
      </div>
    </div>
  </div>
</nav>