.navbar {
  background-color: #d6caaf;
  .header {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px black solid;
    .nav-header-icon {
      border: unset;
      height: auto;
      width: auto;
      background-color: transparent;
      border-radius: 50%;
      transition: transform 0.3s ease-out;
      img {
        height: 35px;
      }
      .invert {
        filter: invert(100%);
      }
    }
    .nav-header-icon:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease-out;
    }
    .header-left {
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      .home-button {
        background-color: #d66361;
        padding: 10px;
        img {
          height: 30px;;
        }
      }
      .search-field {
        height: 40px;
        display: flex;
        align-items: center;
        flex-direction: row;
        button {
          box-sizing: border-box;
          border: solid 1px black;
          border-right: none;
          background-color: transparent;
          height: 100%;
          border-radius: 5px 0 0 5px;
        }
        input {
          box-sizing: border-box;
          border: solid 1px black;
          border-left: none;
          max-width: 200px;
          height: 100%;
          width: 40%;
          border-radius: 0 5px 5px 0;
          background-color: transparent;
          transition: 0.3s ease-in-out;
        }
        input:focus {
          width: 100%;
          transition: 0.3s ease-in-out;
        }
        .form-control:focus {
          border-color: black;
          box-shadow: unset;
        }
        textarea:focus,
        input:focus {
          outline: none;
        }
      }
    }
    .header-right {
      width: auto;
      flex-wrap: nowrap;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      .button-field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .bf-button {
          background-color: transparent;
          border: none;
          width: auto;
          height: 40px;
          padding-inline: 10px;
          display: inline-block;
          position: relative;
        }
        .noframe-button::after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: black;
          transform-origin: bottom left;
          transition: transform 0.25s ease-out;
        }
        .noframe-button:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
        .framed-button {
          border-radius: 5px;
          border: 3px black solid;
          transition: transform 0.5s ease-out;
        }
        .framed-button:hover {
          transform: scale(1.2);
          transition: transform 0.5s ease-out;
        }
      }
      .nav-icons {
        gap: 5px;
      }
      .user-info {
        position: absolute;
        right: 0;
        bottom: -23px;
        filter: opacity(0.6);
      }
    }
  }
}
