<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-left">
      <div class="input-group col-md-4">
        <input
          class="form-control py-2 border-right-0 border"
          type="search"
          placeholder="search..."
          id="example-search-input"
        />
        <span class="input-group-append">
          <button
            class="btn btn-outline-secondary border-left-0 border"
            type="button"
          >
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <button>home</button>
    <div class="nav navbar-right">
      <button class="col">log in</button>
      <button class="col">create account</button>
    </div>
  </div>
</nav>
 -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="header container">
    <div class="header-left">
      <button (click)="onSelect('articles')" class="home-button">
        <img src="/assets/imgs/home.webp" style="height: 30px" alt="home" />
      </button>
      <div class="search-field">
        <button>
          <i class="fa fa-search"></i>
        </button>
        <input
          placeholder="search..."
          type="text"
          class="form-control"
          #searchInput
        />
      </div>
    </div>
    <div class="header-right">
      <div class="button-field">
        <button (click)="onSelect('login')" class="bf-button noframe-button">
          <h4>Log in</h4>
        </button>
        <button
          (click)="onSelect('registration')"
          class="bf-button framed-button"
        >
          <h4>Create account</h4>
        </button>
      </div>
    </div>
  </div>
</nav>
