<h1 class="page-title">Registration</h1>
<div class="container" *ngIf="isLoading">
  <div class="row">
    <h1 class="text-center mb-5">Success!</h1>
    <h4 class="text-center mb-5">Now you can login.</h4>
    <div class="d-flex justify-content-center align-items-center">
      <img
        class="row img-fluid"
        src="assets/imgs/loadingClock.gif"
        alt="loading..."
      />
    </div>
  </div>
</div>

<div class="registration container pb-5" *ngIf="!isLoading">
  <div class="row justify-content-center">
    <form
      [formGroup]="postForm"
      (ngSubmit)="onCreateUser(postForm.value, postForm.get('password').value)"
      class="col-md-4"
    >
      <div class="form-group py-sm-1 mb-0">
        <label for="username" class="col-sm-4col-form-label">Name:</label>
        <input
          id="username"
          name="username"
          type="text"
          class="form-control"
          formControlName="username"
          [ngClass]="{
            'is-invalid':
              postForm.get('username').invalid &&
              postForm.get('username').touched
          }"
        />
        <div
          *ngIf="
            postForm.get('username').invalid && postForm.get('username').touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="postForm.get('username').errors.required">
            Username is required.
          </div>
          <div *ngIf="postForm.get('username').errors.pattern">
            Username cannot contain spaces.
          </div>
          <div *ngIf="postForm.get('username').errors.minlength">
            Username must be at least
            {{ postForm.get("username").errors.minlength.requiredLength }}
            characters long.
          </div>
        </div>
      </div>
      <div class="form-group py-sm-1 mb-0">
        <label for="email" class="col-sm-4col-form-label">Email:</label>
        <input
          id="email"
          name="email"
          type="text"
          class="form-control"
          email
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              postForm.get('email').invalid && postForm.get('email').touched
          }"
        />
        <div
          *ngIf="postForm.get('email').invalid && postForm.get('email').touched"
          class="invalid-feedback"
        >
          <div *ngIf="postForm.get('email').errors.required">
            Email is required.
          </div>
          <div *ngIf="postForm.get('email').errors.email">
            Invalid email format.
          </div>
        </div>
      </div>
      <div class="form-group py-sm-1 mb-0">
        <label for="password" class="col-sm-4col-form-label">Password:</label>
        <input
          id="password"
          name="password"
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              postForm.get('password').invalid &&
              postForm.get('password').touched
          }"
        />
        <div
          *ngIf="
            postForm.get('password').invalid && postForm.get('password').touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="postForm.get('password').errors.required">
            Password is required.
          </div>
          <div *ngIf="postForm.get('password').errors.minlength">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
      <div class="form-group py-sm-1 mb-0">
        <label for="password-confirm" class="col-sm-4col-form-label"
          >Confirm password:</label
        >
        <input
          id="confirm_password"
          name="confirm_password"
          type="password"
          class="form-control"
          formControlName="confirm_password"
          [ngClass]="{
            'is-invalid':
              postForm.get('confirm_password').invalid &&
              postForm.get('confirm_password').touched
          }"
        />
        <div *ngIf="postForm.get('confirm_password').errors?.mismatch">
          {{ postForm.get("confirm_password").errors?.message }}
        </div>
      </div>
      <hr />
      <div class="col-xs-4 text-center">
        <button
          style="height: 50px"
          class="col-sm-12"
          type="submit"
          [disabled]="postForm.invalid || isFetching"
        >
          <h4>{{ isFetching ? "please wait..." : "Registration" }}</h4>
        </button>
        <p class="text-center text-danger pt-2" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>
      </div>
    </form>
  </div>
</div>
