<div class="article" id="content">
  <div class="article-author">
    <h3 class="clickable-content" (click)="onGetUserInfo(article.author.username)">
      {{ article.author.username }}
    </h3>
    <button
      class="animated-button colored-button"
      data-toggle="tooltip"
      data-placement="right"
      title="Follow user"
    >
      <img src="assets/imgs/follow.png" alt="follow" />
    </button>
  </div>
  <p class="article-date">{{ article.created | dateFormat }}</p>
  <hr />
  <div
    class="article-content-header clickable-content"
    (click)="toggleContent(); scrollToContent()"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Click here to see more"
  >
    <h2>{{ article.title }}</h2>
    <h6>{{ article.description }}</h6>
  </div>
  <p *ngIf="isSelected">{{ article.body }}</p>
  <div class="article-tag-field">
    <button class="tag-button">#tag1</button>
    <button class="tag-button">#tag2</button>
    <button class="tag-button">#longertag</button>
    <button class="tag-button">#tagfornothing</button>
  </div>
  <a href="">
    <p>3 comments</p>
  </a>
  <button
    class="fav-button not-marked"
    data-toggle="tooltip"
    data-placement="right"
    title="Article mark as favorite"
  >
    <img src="assets/imgs/bookmark_empty.png" alt="add to favorites" />
  </button>
</div>
