<app-header (pageToDisplaySelected)="onNavigate($event)"></app-header>
<h1 *ngIf="loadedPage === 'articles'" class="page-title">Welcome here!</h1>
<div class="container">
  <div class="row" *ngIf="loadedPage === 'articles'">
    <div class="col-md-12">
      <app-articles [username]="null"></app-articles>
    </div>
  </div>
  <div class="row" *ngIf="loadedPage === 'registration'">
    <app-registration></app-registration>
  </div>
  <div class="row" *ngIf="loadedPage === 'login'">
    <app-login></app-login>
  </div>
  <div class="row" *ngIf="loadedPage === 'profile'">
    <app-profile></app-profile>
  </div>
  <div class="row" *ngIf="loadedPage === 'users'">
   <app-users></app-users>
  </div>
  <div class="row" *ngIf="loadedPage === 'create-article'">
    <app-create-article></app-create-article>
  </div>
</div>