<div class="row articles">
  <div *ngIf="isLoading; else content">
    <div class="d-flex justify-content-center align-items-center pt-5">
      <img
        class="row img-fluid pt-5"
        src="assets/imgs/loadingClock.gif"
        alt="loading..."
      />
    </div>
  </div>

  <ng-template #content>
    <div *ngIf="articlesLength">
      <div class="col-md-8 articles-container">
        <app-article
          *ngFor="let article of filteredArticles"
          [article]="article"
          [isSelected]="selectedArticle === article"
          (onSelected)="onArticleSelected(article)"
          [userIsFollowed]="article.userIsFollowed"
          [articleIsFavorite]="article.articleIsFavorite"
          [userData]="userData"
          (userDataChanged)="userData = $event"
        ></app-article>
      </div>
    </div>
    <div *ngIf="!articlesLength">
      <div class="col-md-8 articles-container">
        <h5>There is no article yet...</h5>
      </div>
    </div>
  </ng-template>
</div>
