<h1 class="page-title">Create article</h1>
<div class="create-article container pb-5">
  <div class="row justify-content-center">
    <form
      class="col-sm-9"
      #createArticleForm="ngForm"
      (ngSubmit)="onSubmit(createArticleForm, tagListInput)"
    >
      <div class="row pb-4 justify-content-center">
        <div class="form-group py-sm-1 mb-0">
          <label for="title" class="col-sm-4 col-form-label">Title:</label>
          <input
            id="title"
            name="title"
            type="text"
            class="form-control"
            ngModel
            required
            maxlength="120"
          />
        </div>
        <div class="form-group py-sm-1 mb-0">
          <label for="description" class="col-sm-4 col-form-label"
            >Description:</label
          >
          <textarea
            id="description"
            name="description"
            type="text"
            class="form-control"
            ngModel
            required
            maxlength="200"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group py-sm-1 mb-0">
          <label for="body" class="col-sm-4 col-form-label"
            >Article text:</label
          >
          <textarea
            id="body"
            name="body"
            type="text"
            class="form-control"
            ngModel
            required
            rows="10"
          >
         </textarea
          >
        </div>
        <div class="form-group py-sm-1 mb-0">
          <label for="tagList" class="col-sm-4 col-form-label">Tags:</label>
          <textarea
            id="tagList"
            name="tagList"
            type="text"
            class="form-control"
            #tagListInput="ngModel"
            [(ngModel)]="tagList"
          ></textarea>
        </div>
      </div>
      <button
        style="height: 50px"
        class="col-sm-12"
        type="submit"
        [disabled]="!createArticleForm.valid"
      >
        <h4>Submit</h4>
      </button>
    </form>
  </div>
</div>
