<h1 class="page-title">My profile and articles</h1>
<div class="row gx-md-5">
  <form #updateForm="ngForm" (ngSubmit)="onUpdateUser(updateForm.value)" class="col-md-4">
    <button type="submit" class="btn btn-light">
      Save</button>
    <div class="row">
      <p>Name:</p>
      <h4>{{ userData.username }}</h4>
      <input type="text" name="username" id="username" [(ngModel)]="userData.username" class="form-control" minlength="4" ngModel>
    </div>
    <div class="row">
      <p>Email:</p>
      <h4>{{ userData.email }}</h4>
      <input type="email" name="email" id="email" [(ngModel)]="userData.email" class="form-control" minlength="6" ngModel email>
    </div>
    <hr />
    <div class="row">
      <p>Bio:</p>
      <h4>{{ userData.bio }}</h4>
      <input type="text" name="bio" id="bio" class="form-control" [(ngModel)]="userData.bio" ngModel>
    </div>
  </form>
  <div class="col-md-8">
    <!-- only own articles (filtered) -->
    <app-articles [username]="userData.username"></app-articles>
  </div>
</div>
