body {
  background-color: #d6caaf;
  font-family: "Josefin Sans", sans-serif;
  h1,
  h2,
  h3,
  h4 {
    font-family: "Yeseva One", cursive;
  }
  .page-title {
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
